@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace url(http://www.w3.org/1999/xhtml);

#SignonViewerDialog{
  height: 720px !important;
  width: 1280px !important;
}

#dialogBox{
  height: 720px !important;
  width: 1280px !important;
}


#dialogFrame {
  /* Default dialog dimensions */
  height: 100em;
  width: 66em;
}