@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("blogspot.com"),domain("blogspot.tw"){

body {padding: 0 !important;}

#content-wrapper {margin: 0 0!important;
}
.main-inner {padding: 15px 0 20px!important;}
.main-inner .columns {padding: 0 !important;}
.content-outer, .content-fauxcolumn-outer{margin: 0 1% !important;}
.main-inner .columns {padding-right: 19.5%!important;}
body{min-width:98% !important;}
body .region-inner {min-width: 98% !important;}

.content-outer, .content-fauxcolumn-outer, .region-inner {
max-width: 98% !important;
min-width: 98% !important;
}

.main-inner .column-right-outer {
margin-right: -25%!important;
width: 25%!important;
}

.main-inner .column-center-inner, .main-inner .column-left-inner, .main-inner .column-right-inner {
margin: 0 -1%!important;
    padding: 0 0!important;
}

.post-outer {
    margin: 0 0px 20px 0px!important;
    padding: 10px 10px!important;
} 

div#simplereach-slide-element.close,
div#simplereach-slide-element.open,
div#simplereach-slide-header,
div#simplereach-slide-element,
div#simplereach-slide-element.slide-in,
#floatingbuttons{display:none !important;}

}

/*================海芋小站================*/

@-moz-document domain("www.inote.tw"){

.main-inner .columns {padding: 0 !important;}

.content-outer, .content-fauxcolumn-outer{margin: 0 0.5% !important;}

body{min-width:98% !important;}
body .region-inner {min-width: 100% !important;}

.content-outer, .content-fauxcolumn-outer, .region-inner {
max-width: 77% !important;
min-width: 77% !important;
}

.main-inner .column-right-outer {
margin-right: -30%!important;
width: 30%!important;
}

.content-inner {padding: 10px 1% !important;}

div.content-inner header,
div#crosscol-overflow.tabs,
#HTML10,
#HTML9,
div#simplereach-slide-element,
.region-inner.footer-inner{display:none !important;}
#floatingbuttons{display:none !important;}
}

/*================電腦玩物================*/

@-moz-document url-prefix("http://www.playpcesor.com/"){

.main-inner .columns {padding-right: 0%!important;}

.content-outer, .content-fauxcolumn-outer, .region-inner {
max-width: 98% !important;
min-width: 98% !important;
}

.content-inner {padding: 10px 0% !important;}

#HTML1,
.region-inner.footer-inner,
ASIDE,
.widget-content,
UL{display:none !important;}
#floatingbuttons{display:none !important;}

.post-outer {
    margin: 0 0 10px !important;
    padding: 0px !important;
}
}



/*================阿榮福利味================*/

@-moz-document domain("www.azofreeware.com"){

body {
    padding: 0 30px 30px !important;
}
.main-inner .columns {padding-right: 16%!important;}
.content-outer, .content-fauxcolumn-outer, .region-inner {
max-width: 100% !important;
min-width: 100% !important;
}
.main-inner .column-right-outer {
margin-right: -18%!important;
width: 18%!important;
}
.content-inner {
    padding: 10px 0px !important;
}
.main-inner {padding: 0 !important;}
.content-outer, .content-fauxcolumn-outer{margin: 0 !important;}
.widget {margin: 0!important;}

#BlogArchive1_ArchiveList,
#adsense336x280,
#gfc_iframe_216488638_0_body,
#header-inner,
DIV.widget-content.popular-posts:last-child LI,
FIELDSET,
TABLE[border="0"],
TD[width="300"],
div.tabs-outer,
div.comment-form,
.goog-te-ftab.goog-float-bottom,
#HTML10 > DIV:first-child > A,
UL:first-child:last-child{display:none !important;}
#floatingbuttons{display:none !important;}

}

/*================心動總是.無來由 : 「綠色軟體集散區」================*/

@-moz-document domain("jen9945x.blogspot.tw"){
.post-share-buttons,
DIV#Followers1.widget.Followers,
DIV[style="white-space:nowrap"],
DIV#HTML3.widget.HTML,
DIV#Stats1.widget.Stats
,div#HTML2.widget,
div#HTML6.widget,
div#HTML4.widget
{display:none !important;}
}
