@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url("about:addons") {

/*================隱藏主選項文字================*/
	.category:not([selected]) {
		font-family: 微軟正黑體 !important;
		color: #AAA !important;
	}
    #categories .category-name {
        font-size:20px !important;
    }
	.category[selected="true"] {
		border-left-color: #E78700 !important;
		border-radius: 0 !important;
		font-weight: bold;
		font-family: 微軟正黑體 !important;
		color: #FFF !important;
		background-color: yellowgreen !important;
	}

	.category {
		border-width: 0 0 0 5px !important;
	}
/*
.category-icon,.category-name{
margin-top: -2px !important;
}
*/
	.category-icon {
		margin-top: -2px !important;
	}
	
	#category-extension .category-icon,
	#category-greasemonkey-user-script .category-icon,
	#category-theme .category-icon,
	#category-plugin .category-icon {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.0 \
    0.3 0.38 0.3 0.0 0.0 \
    0.3 0.3 0.38 0.0 0.0 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
	}
	

	#category-extension[selected="true"] .category-icon{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'>\
    <feColorMatrix in='SourceGraphic' type='matrix' values=\
    '0.38 0.3 0.3 0.0 0.7 \
    0.3 0.38 0.3 0.0 0.7 \
    0.3 0.3 0.38 0.0 0.7 \
    0.0 0.0 0.0 1.0 0.0'/></filter></svg>#invert") !important;
	}
/*================附加元件管理員背景樣式================*/
      
	.addon:not([selected]):hover {
		background: -moz-linear-gradient( hsla(100,65%,94%,.6) 0px, hsla(100,35%,80%,.6) 100%) border-box !important;
	}
/*.addon[selected]{background:none !important;}*/
	.addon[selected] {
		background: -moz-linear-gradient( hsla(220,65%,84%,.6) 0px, hsla(220,35%,60%,.6) 100%) border-box !important;
	}

/*================附加元件管理員圖示大小================*/

	.icon-container,
.icon {
		width: 20px !important;
		height: 20px !important;
	}

	.icon-container {
		margin: 0 !important;
		margin-top: 3px !important;
		padding: 0 !important;
	}

/*================附加元件管理員文字大小================*/

	.addon .name-container {
		margin-top: 2px !important;
		font-family: 微軟正黑體 !important;
		font-size: 14px !important;
	}

/*================附加元件管理員 移除警告顯示================*/

	.global-warning-container {
		display: none !important;
	}

	.addon > .warning {
		display: none !important;
	}

	.addon > :-moz-any(.warning, .error, .pending) {
		margin-left: 36px !important;
	}

/*================附加元件管理員 套件名稱與說明併為一行================*/

	.content-inner-container {
		-moz-box-orient: horizontal !important;
	}

	.addon:not([selected]) .name-container {
		min-width: 300px !important;
		max-width: 300px !important;
	}

	.addon[selected] .name-container {
		min-width: 300px !important;
		max-width: 1000px !important;
	}

/*================附加元件管理員 鼠標停留時才顯示選項按鈕================*/

	.addon:not(:hover)  :-moz-any(.control-container, .details) {
		display: none !important;
	}

	.control-container, .details {
		margin: -4px 0 !important;
	}

/*================附加元件管理員 顯示最後更新日期================*/

	.date-updated {
		display: -moz-box !important;
	}

	.date-updated {
		margin-top: 4px !important;
		margin-right: 0px !important;
		width: 150px !important;
	}


/*================附加元件管理員 顯示ID 浮動版================*/

	.addon[selected="true"]::after {
		content: " ID: " attr(value) !important;
		position: fixed !important;
		font-weight: bold !important;
		font-size: 14px !important;
		top: 3px !important;
		left: 350px !important;
		cursor: default !important;
		color: #0066CC !important;
	}

/*================附加元件管理員 顯示啟用停用數================*/
	.addon {
		counter-increment: addoncount !important;
		content: counter(addoncount) !important;
	}

	.addon[active="false"] {
		counter-increment: disabled !important;
	}

	#addon-list:after {
		content: "("counter(addoncount)" 啟用, "counter(disabled)" 停用)" !important;
		position: fixed !important;
		top: 5px !important;
		left: 230px !important;
		font-weight: bold !important;
		font-size: 14px !important;
		color: #0066CC !important;
	}

	.view-header.global-warning-container,
#list-view > hbox {
		background: transparent !important;
	}

	.view-header.global-warning-container {
		display: -moz-box !important;
		margin-top: -4px !important;
		margin-bottom: -4px !important;
	}

	#updates-container {
		position: fixed !important;
		top: 5px !important;
		left: 45% !important;
		font-size: 14px !important;
		font-weight: bold !important;
	}

	#header > #header-search {
		position: fixed !important;
		top: 2px !important;
		left: 45% !important;
	}

	#header-search:not(:hover) {
		opacity: 0 !important;
	}

	.textbox-search-icons {
		display: none !important;
	}


/*================附加元件管理員 邊界調整================*/

	#view-port {
		padding: 0 !important;
		margin: 32px -50px -50px -50px !important;
	}

/*#header-utils-btn{background:transparent !important;width: 65px !important;}*/
/* 檢查更新按鈕*/
	#header-utils-btn {
		margin-left: -230px !important;
		padding: 0 !important;
		width: 36px !important;
		height: 22px !important;
		background: none !important;
		list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVR42qzTz0pCYRAF8LtTJK8KYVDueovc/R5BH6dNUKvaBK3a9hDRpqh3SChfooUgZIpt5sLHx9UsGhgYODOH+XOmKDYY+lhgiePiJ0MD7Yg7OMc6/BoHgQ3RyotbeMEEt5glxZUv8BgdPaOZEgwDWO/oE5R5Fw9JwhTjGKUT8TTB7/LiLuYBvqNXs6NeQjLHfgUMcJGwj7YsepwtdlBglc1XbiEos9zVvxAc4fQPI1zhsAL28BHAG7o1xd1Y8BqflbDShJvsjKNouYw4PeNT3WyvvxDSEicpQTOkvMR9oonUZyHzSUi59h+GyTOdJcWX1V7QRmOX7+zjK8688Z2/BwBcOPHvw/+/8gAAAABJRU5ErkJggg==") !important;
	}

	#categories,#addons-page {
		padding: 0 !important;
	}

	#header {
		position: fixed !important;
		background: transparent !important;
		margin: 3px 0px 0px 188px !important;
	}

	#categories {
		padding: 40px 0 0 0 !important;
		margin: 0 !important;
		background: #333 !important;
		width: 180px !important;
	}

	.content-container {
		margin-top: -2px !important;
		margin-bottom: -2px !important;
	}

	.description {
		margin-top: 4px !important;
	}

	.sorter {
		height: 22px !important;
		margin-top: 4px !important;
	}

	.text-link {
		margin-top: 8px !important;
	}

/*================附加元件管理員 移除多餘按鈕================*/
	#header-search,#nav-header,
#addon-list .addon-control[anonid=compatibilityButton],
#addon-list .addon-control[anonid=publishButton],
#menuitem_showCompatibilityResults,
#detail-controls > acrCompatibilityButton,
#category-discover,
#category-service,
toolbarbutton[class="nav-button header-button"][command="cmd_back"],
toolbarbutton[class="nav-button header-button"][command="cmd_forward"],
.details.button-link,
#detail-contributions {
		display: none !important;
	}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::讓附加元件管理員部分元素文字可選取::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	#detail-desc,
#detail-fulldesc,
#detail-name {
		-moz-user-select: text !important;
		cursor: text !important;
	}

#search-list .addon:not([type="userstyle"])[status="installed"] .name-container > spacer,
#addon-list .addon:not([type="userstyle"])[status="installed"] .name-container > spacer,
#updates-list .addon:not([type="userstyle"])[status="installed"] .name-container > spacer {
		-moz-binding: url('data:application/xml,\
\
<?xml version="1.0"?>\%0A\
<bindings xmlns="http://www.mozilla.org/xbl">\%0A\
<binding id="addonversion">\%0A\
<implementation>\%0A\
<constructor>\%0A\
<![CDATA[\%0A\
var richlistitem = document.getBindingParent(this);\%0A\
\%0A\
var nameLabel = document.getAnonymousElementByAttribute(richlistitem, "anonid", "name");\%0A\
var label = richlistitem._version = document.createElement("label");\%0A\
label.setAttribute("anonid", label.className = "version");\%0A\
this.parentNode.insertBefore(label, nameLabel.nextSibling);\%0A\
var addon = richlistitem.mAddon;\%0A\
shouldShowVersionNumber(addon) ? label.value = addon.version : label.hidden = true;\%0A\
\%0A\
var str = \'this._icon.src = "";\\n\';\%0A\
richlistitem._initWithAddon = eval(`(${\%0A\
String.replace(richlistitem._initWithAddon, str, [str,\%0A\
" if (shouldShowVersionNumber(this.mAddon))",\%0A\
" this._version.value = this.mAddon.version;",\%0A\
" else",\%0A\
" this._version.hidden = true;\\n"\%0A\
].join("\\n"))\%0A\
})`);\%0A\
str = \'this._showStatus("update-available");\\n\';\%0A\
richlistitem.onNewInstall = eval(`(${\%0A\
String.replace(richlistitem.onNewInstall, str, str +\%0A\
" this._updateUpgradeInfo();"\%0A\
)\%0A\
})`);\%0A\
richlistitem._updateUpgradeInfo = function _updateUpgradeInfo() {\%0A\
// Only update the version string if we\'re displaying the upgrade info\%0A\
if (this.hasAttribute("upgrade") && shouldShowVersionNumber(this.mAddon))\%0A\
this._version.value = this.mManualUpdate.version;\%0A\
}\%0A\
]]>\%0A\
</constructor>\%0A\
</implementation>\%0A\
</binding>\%0A\
</bindings>\
\
') !important;
	}
}
