@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url("chrome://mozapps/content/extensions/extensions.xul") {

/*================隱藏主選項文字================*/

.category-name {display: none !important;}
    
/*================附加元件管理員 列表懸停 列表選取 背景樣式================*/

.addon:not([selected]):hover {background: -moz-linear-gradient( hsla(100,65%,94%,.6) 0px, hsla(100,35%,80%,.6) 100%) border-box !important;}
.addon[selected]{background: -moz-linear-gradient( hsla(220,65%,84%,.6) 0px, hsla(220,35%,60%,.6) 100%) border-box !important;}

/*================附加元件管理員圖示大小================*/

.category{
padding-top: 9px !important;
width: 40px !important;
height: 40px !important;
}

.category-icon
{
padding-top: 0px !important;
margin-top: 0px !important;
width: 26px !important;
height: 26px !important;
}

.icon-container,
.icon
{
width: 18px !important;
height: 18px !important;
}
 
/*================附加元件管理員文字大小================*/

.addon .name-container{
font-family: 微軟正黑體 !important;
font-size: 13px !important;
}

/*================附加元件管理員 移除警告顯示================*/

.global-warning-container {display: none !important;}
.addon > .warning {display: none !important;}
.addon > :-moz-any(.warning, .error, .pending) {margin-left: 36px !important;}

/*================附加元件管理員 不顯示說明================*/

.description{display: none !important;}

/*================附加元件管理員 鼠標停留時才顯示選項按鈕================*/

.addon:not(:hover)  :-moz-any(.control-container, .details) {display: none !important;}

/*================附加元件管理員 不顯示按鈕================

.control-container, .details {display: none !important;}
*/

/*================附加元件管理員 邊界調整================*/

#addons-page{
padding:30px 0 4px 0 !important;
}

.category{
margin: 0 !important; 
}

#categories{
margin: 0 !important; 
}

#header{
position:fixed !important;
background:transparent !important;
margin:-28px 0 0 2px !important;
}

#header-utils-btn{
background:transparent  !important;
width: 40px !important;
}

.content-container{
margin: -4px 0 !important; 
}

.addon-control{
margin: 0 1px !important; 
}

.icon-container
{
margin: 2px 0 0 0 !important;
}

.category-icon
{
margin: -15px 5px 0 2px !important;
}

/*================附加元件管理員 更多資訊頁 緊縮排版================*/

#detail-name,#detail-version{
font-size: 16px !important;
}

/* Add-on detail pages - Remove wasted space */
#detail-notifications + hbox,
#detail-desc-container,
#detail-contributions > hbox
{
-moz-box-orient: vertical !important;
}
.detail-view-container
{
padding: 0 10px !important;
overflow-x: hidden !important;
}
#detail-notifications
{
margin: 0 !important;
}
#detail-screenshot,
#detail-icon
{
max-width: none !important; /* Required to give the text auto width. */
}
#detail-icon-container
{
float: left !important;
}


/* Add-on detail pages - Stack tables */
#detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]), .detail-row:not([hidden])[value]),
#detail-updates-row > hbox > *
{
display: inline !important;
}
#detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]), .detail-row:not([hidden])[value]) > label.detail-row-label
{
width: 100% !important;
}
#detail-grid > rows > row > :nth-child(2)
{
margin-left: 20px !important;
}
#detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]), .detail-row:not([hidden])[value]) > label:not(.detail-row-label)
{
margin-left: 25px !important;
}
#detail-rows > setting
{
width: 100% !important;
}
#detail-rows > setting > vbox
{
-moz-box-ordinal-group: 2 !important;
}
#detail-rows > setting[collapsed]
{
display:none!important;
}
#detail-controls > spacer
{
display: none !important;
}

/*================附加元件管理員 移除多餘按鈕================*/
#addon-list .addon-control[anonid=compatibilityButton],
#addon-list .addon-control[anonid=publishButton],
#menuitem_showCompatibilityResults,
#detail-controls > acrCompatibilityButton,
#category-discover,
#category-service,
toolbarbutton[class="nav-button header-button"][command="cmd_back"],
toolbarbutton[class="nav-button header-button"][command="cmd_forward"],
.details.button-link,
#detail-contributions{ display: none; }

#updates-container{display: none !important;}

.addon-control.button_scriptish_userscript_show{display: none !important;}

/*================附加元件管理員 隱藏滾動條================*/

scrollbar{display: none !important;}

/*================選項順序================*/

/*擴充套件*/
#category-extension{-moz-box-ordinal-group: 0 !important;}
/*外觀設定*/
#category-theme{-moz-box-ordinal-group: 1 !important;}
/*外掛程式*/
#category-plugin{-moz-box-ordinal-group: 2 !important;}
/*使用者腳本*/
#category-userscript{-moz-box-ordinal-group: 3 !important;}
/*使用者樣式*/
#category-userstyle{-moz-box-ordinal-group: 4 !important;}
/*UC*/
#category-userchromejs{-moz-box-ordinal-group: 5 !important;}
/*語言套件*/
#category-locale{-moz-box-ordinal-group: 6 !important;}
/*可用的更新*/
#category-availableUpdates{-moz-box-ordinal-group: 7 !important;}
/*最近的更新*/
#category-recentUpdates{-moz-box-ordinal-group: 8 !important;}
/*搜尋*/
#category-search{-moz-box-ordinal-group: 9 !important;}
/*字典*/
#category-dictionary{-moz-box-ordinal-group: 10 !important;}
/*取得元件*/
#category-discover{-moz-box-ordinal-group: 11 !important;}
}