@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/* 設置不顯示菜單欄的情況下，按下 alt 鍵時不會激活菜單欄。 */

#toolbar-menubar[autohide="true"] {display:none !Important;}

.menu-iconic-text{
    margin-top: -1px !important;
    padding-right:6px !important;
}

#FirefoxBtnpopup,#anobtn_popup,#eom-button-popup,#secureLoginButtonMenu{
    margin-top: -5px !important;
}

menu,
menuitem,
menupopup,
splitmenu {
    background-color: #D7E2EC !important;
    -moz-appearance: none !important;
    /*
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAABCAYAAADAW76WAAAAEElEQVQImWNgoAOYOXPmfwAGyQLLd07gdAAAAABJRU5ErkJggg==);
    background-repeat: repeat-y; 
    */
}

menu, 
menuitem, 
splitmenu {
    height: 25px !important;
}

/*For Firefox 32's combined (back, forward, reload, bookmark) menuitems*/

#contentAreaContextMenu > menugroup {
    height: 36px !important;
}
/* Small Borders */
menupopup {
    border: 1px solid #999 !important;
}

menuseparator:not([hidden]) {
    -moz-appearance: none !important;
    height: 1px !important;
    margin: 0 0 0 28px  !important;
    border: none !important;
    border-top: 1px solid #999 !important;
    padding: 0px !important;
    opacity:0.6 !important;
}

menuseparator,#context-sep-navigation, #page-menu-separator,[label="啟用 chrome 目錄下全部腳本"] {
display: none !important; 
}

menuitem[type="checkbox"]:hover,
menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
menupopup[_moz-menuactive="true"],
splitmenu[_moz-menuactive="true"] {
    background-color: #4281F4 !important;
    color: #FFF !important;
    -moz-appearance: none !important;
}

menuitem[disabled]:not([_moz-menuactive]) {
    background: transparent !important;
}

/* Make text visible for checkbox menuitems until Bug 605985 is resolved*/




