@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
.download-state:after{
content:attr(statusTip)!important;
color:#4A4A4A!important;
display:-moz-box!important;
position:absolute!important;
top:62px!important;
left:52px!important;
}

/*==========調整下載管理員邊界==========*/

@-moz-document url("about:downloads") {

    #downloadsListEmptyDescription{
    margin-top: -10px !important;
    }
	#downloadsRichListBox {
		margin: -16px !important;
	}
}
/*
@-moz-document url("chrome://browser/content/downloads/contentAreaDownloadsView.xul") {
    #downloadsListEmptyDescription{
    margin-top: 0px !important;
    }
}*/