@-moz-document url("chrome://lastpass/content/home2.xul") {
/*AD*/
#rightside,
#lpfriendemail {
	display: none !important;
}
}

#lpt_lastpass-compact-btn {
	-moz-appearance:none !important;
	border:0px transparent;
	padding:0 3px !important;
}

#navigator-toolbox #lpt_lastpass-compact-btn .toolbarbutton-icon {
	margin-right: -2px !important;
}

/*隐藏LASTPASS升级到高级版本菜单*/
#lpt_lppremium {
	display:none !important;
}
#lpt_menu_search_box{/*搜索密码库*/
	display: none !important;
}

/*
#lpt_lastpass-compact-btn{
	-moz-appearance: none !important;
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	outline: none !important;
	background-color: transparent !important;
}
*/