@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("eyny.com") {

/* 版面拉寬 */

div#wp.wp{width: 99% !important;}
#nv_search div.wp{width: 99% !important;}
div#wp.wp div#col{width: 100% !important;}
div.title{width: 5% !important;}
div.content{width: 94.5% !important;}
div.sbox,
div.tbox{width: 31% !important;}
dd{width: 70% !important;}
dd p{width: 98% !important;}
table[width="160"][cellspacing="0"][cellpadding="0"] {width: 200px !important;}
td [width="160"] {width: 200px !important;}

img[src="lib/static//image/index_t/tb_9.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_9.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_329.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_329.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_206.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_206.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_248.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_248.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_10.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_10.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_1789.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_1789.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_301.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_301.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_5.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_5.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_292.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_292.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_246.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_246.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_1722.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_1722.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_331.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_331.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_302.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_302.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_1746.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_1746.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_486.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_486.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_487.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_487.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_1790.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_1790.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_332.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_332.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_157.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_157.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_93.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_93.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_489.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_489.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_395.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_395.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_488.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_488.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_278.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_278.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_485.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_485.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_330.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_330.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_1739.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_1739.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/tb_197.jpg"]{width: 200px !important;}
img[src="lib/static//image/index_t/th_197.jpg"]{width: 200px !important;}

/* 精簡版面 */

IMG[src="static/image/common/logo.gif"],
div#wp.wp div#col,
div.wp div.hdc,
table[width="100%"][style="margin-top:5px"],
table[height="240"][cellspacing="0"][cellpadding="0"][width="100%"][style="margin-bottom:10px"],
div#wp.wp table.t_p_top,
tr td.p_pre_td,
div.mn center,
div#ct.wp div.mn div[class="bm bml pbn"],
div.pct div.a_pt
{display:none !important;}
}

