@namespace url(http://www.w3.org/1999/xhtml);
/*贴吧悬浮回复框by defpt at 2014.02.06*/

@-moz-document domain(tieba.baidu.com){
  /*底部触发*/
    #tb_rich_poster_container{
    position:fixed !important;
    border:1px solid #51AFF7 !important;
    left: auto !important;
    width: 80% !important;
    bottom: 0 !important;
    max-height: 3px !important;
    padding:0 !important;
    margin:0 !important;     
    background:#F9F9F9 !important;
    z-index:999 !important;
    transition-duration:0.5s !important;/*收缩时间，单位为秒*/
    transition-delay:1.5s !important;/*收缩延时，单位为秒*/
  }
  #tb_rich_poster_container:hover{
    max-height: 800px !important; 
    height:auto !important;
    transition-duration: 0.1s !important;/*弹出时间，单位为秒*/
    transition-delay: 0.5s !important;/*弹出延时，防止误触发，单位为秒*/
  }

}