@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("gamer.com.tw") {

body {
    background: url("http://pic.bahamut.com.tw/html_bg.gif") repeat scroll 0 0  !important;
}

#BH-wrapper{ width:99% !important;}

div#BH-master{ width:80.5% !important;}
div#BH-master div#BH-master{ width:100% !important;}
#BH-slave {width:19% !important;
}
}

@-moz-document 	
url-prefix("http://forum.gamer.com.tw/A")
 {

div.mainOut { width:100% !important;}
div.main{ width:99% !important;}
div.leftOut1{ 
width:99% !important;
}
div.leftOut2{ width:100% !important;}
div.left{ width:100% !important;}
table[width="760"],table[width="694"],table[width="730"],table[width="95%"]{width:100% !important;
margin:0 3px !important;
}
#forumRightMenu{display: none !important; }
}



