@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("briian.com") {


#site-title {
    margin-left:-15px !important;
    padding: 0px 0px 20px 30px !important;
    width:100% !important;
}
#access {
    width:100% !important;
}
    
#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
width:98% !important;
}
    
#wrapper {
    margin-top: 0px !important;
    padding: 0 0px !important;
}
    
#header,.narrowcolumn,.post{
width:100% !important;
}


#text-6,
#recent-posts-3,
#text-5,
#text-4,
#text-3,
#text-2,
#content > P,
#content > SCRIPT,
#page > CENTER,
#page > P,
.post  > P,
DIV[style="margin-left:80px;"],
DIV[style="position:relative; left:-30px;"],
DIV[style="padding:7px 0 10px 20px;background:#EFEFEF;font-size:0.85em; border: 2px solid #F6F6F6;"],
DIV[style="padding: 7px 0pt 10px 20px; background: none repeat scroll 0% 0% rgb(239, 239, 239); font-size: 0.85em; border: 2px solid rgb(246, 246, 246);"],
#sidebar{display: none !important}
}

