@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document 	
url-prefix("http://www.google."),
url-prefix("https://encrypted.google."),
url-prefix("https://www.google.")
 {

/* Google頂端工具列為白色 */

#gbx3, #gbx4 {background-color: #FFFFFF !important;border-bottom: 1px solid #DDDDDD !important;}
.gbz0l .gbts {color: #000000 !important;}
.gbz0l .gbtb2 {border-top-color: #2200C1 !important;}    
.gbzt-hvr, .gbgt-hvr, .gbzt:focus, .gbgt:focus {background-color: #aaaaaa !important;}    
#gbz .gbzt, #gbz .gbgt, #gbg .gbgt {color: #2200C1 !important;}    
#gbg5 {background-color: #aaaaaa !important;}

/* Google 搜索結果寬版顯示 */

#cnt #center_col, #cnt #foot, #cnt .ab_center_col {
width: 96% !important;
margin-left: 0px !important;
margin-right: 0px !important;
}
.col{
    width: 100% !important;
}
[style="max-width:509px;margin:1px 0 4px"],.s {
    max-width: 100% !important;
}
/*
#rhs {display: none !important; }
*/

/* Google移除側邊攔 
div#leftnav {display: none !important; }
*/

/* 顯示字型 
* {font-family: "微軟正黑體", Tahoma !important;}
*/

/* Google搜索結果雙欄顯示 
#rso{
-moz-column-count: 2 !important; 
margin:  0 !important;
}
*/

/* Google搜索結果樣式 

.g {
background-color: #EFFFDC !important;
border-color: #99FF99 !important;
border-style: solid !important;
border-width: thin !important;
padding-left: 0.5em !important;
padding-right: 0.5em !important;
margin-top: 0.2em !important;
padding-top: 0.5em !important;
margin-bottom: 0.2em !important;
padding-bottom: 0.2em !important;
border-radius: 0.75em 0.75em 0.75em 0.75em;
display: table;
}
*/

/* Google搜索結果 移除預覽&箭頭 */
div.vspii{display: none !important; }
div.vspib{display: none !important; }
div#nycp{display: none !important; }


/* Google搜索結果 相關搜索單行顯示 */
#brs p {display: inline; padding: 0 5px !important;}

/* Google搜索結果 移除搜索結果數量與用時 */
div#cnt div#appbar{display: none !important; }

}

