@namespace url(http://www.w3.org/1999/xhtml);
/*背景圖片*/
@-moz-document url-prefix("http://tieba.baidu.com/f"),
url-prefix("http://tieba.baidu.com/")/*該網址為牛牛添加*/,url-prefix("http://tieba.baidu.com/p"),url-prefix("http://tieba.baidu.com/i"),url-prefix("http://tieba.baidu.com/bawu2/postaudit/tlist?kw="),url-prefix("http://tieba.baidu.com/bawu2/postaudit/plist?kw="),url-prefix("http://tieba.baidu.com/bawu2/postaudit/slist?kw="),url-prefix("http://c.tieba.baidu.com/"){
/*-------------會員、貼吧商城、T豆、T秀特權、彩蛋、投注、彩票、沙發-----------*/
.u_app_wrap/*客戶端*/,[class*="baiduPrivilege"]/*特權*/,
.u_menu_appcenterEntrance/*應用中心*/{display:none !Important;} /*置頂用戶導航*/
/*部分獨立貼吧廣告*/
#platform_iframe_head,.app_iframe /*部分貼吧頭部框架-視頻、廣告宣傳介紹之類*/ ,
.app_forum_top_nav,.gambling_town_cnt,#xiu8_follow_warn,.app_header_main .ui_bubble_wrap,.simple_info_bg,[class*="user_info"] /*T豆娛樂城吧*/
{display:none !Important;}
.edui-btn.edui-btn-medal {display:none !important;} /*發帖框-T秀特權*/
.d_nameplate,.profile_bottom{display:none !important;} /*會員黃金銘牌*/
[class*="tshow"]{display:none !important;} /*會員T秀*/
[id*="tbmall"],[class*="tbmall"]{display:none !important;} /*貼吧商城*/
[class*="doupiao"] {display:none !important;}/*豆票*/
.tbui_fbar_props,.guide_wrap_magic {display:none !important;}/*右側懸浮工具條-魔法道具*/
.save_face_bg {display:none !important;} /*挽尊*/
.p_mall_tail,.props_item_tail {display:none !important;} /*魔法道具使用後尾巴提示*/
.guessing_watermark,.add_guessing_btn {display:none !important;} /*猜拳*/
.lot_wrap_head.clearfix,[class*="lottery"]{display:none !important;} /*投注、彩票*/
.residual_wrap_worship,.residual_wrap_egg {display:none !important;} /*帖內頭像-魔法道具效果（膜拜、臭雞蛋）*/
[style*="z-index: 1001;"] {display:none !important;} /* 鼠標經過出現的氣泡提醒「T秀特權-我想要」*/
.p_author_face.j_frame_guide {background:none !important;border:solid 0px #ccc !important;} /*帖內頭像-圖像邊框*/
.userinfo_head{background:none !important;border:solid 0px #bbb !important;} /*ID卡片頭像-圖像邊框*/
.profile_right.user_score {display:none !important;} /*右側-我在貼吧-ID下T豆數量*/
#encourage_entry {display:none !important;} /*右側-我在貼吧-T豆商城、T豆小游戲、主播廣場*/
[id*="sofa_post"] {display:none !important;} /*搶沙發位*/
.firework_sender {display:none !important;} /*貼吧側邊-放煙花*/
#global_notice_wrap {display:none !important;} /*貼吧底部飄過的渣渣彈幕-放煙花*/
[class*="reward"],[title="打賞"],.icon_pre {display:none !important;} /*打賞*/
/*----------------------文字----------------------*/
.threadlist_lz.clearfix .vip_red {color:#999999 !important;} /*貼吧大廳-會員ID顏色*/
.p_author .vip_red {color:#2D64B3 !important;} /*帖內-會員ID顏色*/
.j_user_card.vip_red {color:#2D64B3 !important;} /*帖內-樓中樓會員ID顏色*/
.core_title_txt,[class*="member_red"] {color:#000000 !important;} /*帖內會員標題顏色*/
.j_th_tit:link {color:#2D64B3 !important;} /*整體標題顏色-未點擊*/
.j_th_tit:hover {color:#5892EE !important;} /*整體標題顏色-鼠標觸摸*/
.j_th_tit:visited {color: #663196 !important;} /*整體標題顏色-點擊後*/
/*----------------------徽章、勳章、小圖標、印跡、標識----------------------*/
.frs_bright_icons {display:none !important;} /*貼吧大廳-ID後印跡標識*/
.d_icons {display:none !important;} /*帖內-ID下印跡標識*/
[class*="tbworld"]{display:none !important;} /*ID前-會員標識*/
[class*="icon-new"],[class*="icon_new"],.nav_item_hot_flag {display:none !important;} /*「NEW」、「HOT」標識*/
/*----------------------廣告類、貼吧推廣----------------------*/
/*貼吧推廣、游戲、[data-daid]、帖內樓層間插播廣告+其他模塊*/
.banner_post,
[class*="BAIDU_CLB_AD"],
[class*="thread_recommend"]/*本帖相關、本吧精品*/ ,
[class*="spreadad"],[id*="dasense"] /*貼吧大廳推薦帖（美女主播等）*/ ,
#thread_list li[data-daid] /*帖子列表-貼吧推廣（mokeyjay 提供）*/ ,
#j_p_postlist [data-daid] /*帖內-來自ID「貼吧游戲」*/ ,
DIV[data-daid] /*貼吧邊側-「千萬T豆任你拿」*/
{display:none !important;} 
/*視頻互動、游戲直播、美女直播、各種視頻推薦*/ 
[class*="live_show"],[class*="liveshow"],[class*="per_list"]{display:none !important;}
#pb_adbanner {display:none !important;} /*帖內上方廣告位*/
#containerWrap,#uptown,#union_mod,#aside_ad {display:none !important;} /*帖內右側廣告位*/
.edui-btn-voice/*發帖框語音按鈕*/,[class*="voice_ad"] {display:none !important;} /*語音廣告*/
.tb_poster_placeholder a {display:none !important;} /*發帖框-3倍經驗*/
#search_button {display:none !important;} /*貼吧大廳右上鏈接廣告*/
#pop_animate,.baidutuisong {display:none !important;} /*右下彈窗通知*/
#search_bottomad,#search_union_mod {display:none !important;} /*貼吧搜索頁廣告*/
#forum_recommend {display:none !important;} /*貼吧大廳底部推薦（你可能感興趣的貼吧）*/
#plat_act_wrapper {display:none !important;} /*貼吧首頁-中間廣告位*/
#tbLcsSwf {display:none !important;} /*I貼吧左上不知名FLASH窗口*/
[class*="couplet"] {display:none !important;} /*貼吧側邊-對聯廣告*/
/*----------------------游戲----------------------*/
[class*="game"],[id*="game"] {display:none !important;} /*游戲*/
[class*=u9] {display:none !important;} /*游戲吧-熱門卡包、領號等*/
.qipai_thread {display:none !important;} /*T豆小游戲*/
[id*="bdyx_tips"],[class*="bdyx_tips"] {display:none !important;} /*百度游戲右下彈窗*/
.floor_index,[id*="wanle"],[class*="wanle"] {display:none !important;} /*玩樂*/
/*----------------------其他----------------------*/
#panel {width:auto !important;height:auto !Important;overflow:hidden !important;} /*對 ID CARD 舊版名片的支持-去滾動條*/
.pop-up-frame {height:auto!important;} /*貼吧首頁——修復常逛貼吧顯示出錯——錯過的指尖 提供*/
.tieba_notice_theme2 {display:none !important;} /*帖內右側-貼吧公告*/
.poster_head_surveillance {font-size:0px !important;} /*貼吧協議「七條底線」一列文字*/
.poster_head_surveillance a {display:none !important;} /*貼吧協議「七條底線」一列鏈接*/
.split {display:none !important;} /*置頂用戶導航分割線*/
.poster_head.clearfix SPAN:nth-child(2) {display:none !important;} /*回復框猜拳帖選項中間分割線*/
.share_btn_wrapper {display:none !important;} /*帖內1樓-分享按鈕*/
#selectsearch-icon {display:none !important;} /*劃詞搜索按鈕*/
#main_aside .ui_bubble_wrap {display:none !important;} /*I貼吧-回收站改版通知*/
[class*="success_exp"] {display:none !important;} /*回帖框發表帖子【經驗+1】*/
/*-----------------------顯示方式----------------------*/
.d_sign_split {background:url(http://imgsrc.baidu.com/forum/pic/item/1dee9c13b07eca802bfe5695932397dda34483cc.jpg) !important;}/*簽名間隔圖*/
.p_author_face IMG,.p_author_face {height:100px !important;width:100px !important;} /*帖內頭像圖片+白色外框*/
.louzhubiaoshi {position:absolute !important;z-index:99999 !important;} /*頭像-樓主標識置頂*/
#com_userbar > UL > LI:nth-child(4) A > SPAN {display:none !Important;} /*置頂消息計數器*/
#com_userbar DIV:nth-child(2) LI:nth-child(4) {display:none !Important;} /*置頂好友申請提醒*/
#com_userbar LI:nth-child(5) {display:none !Important;}/*置頂新粉絲提醒*/
#com_userbar .category_item_last{display:none !Important;} /*置頂收藏提醒*/
.core_title_absolute_bright {display:none !important;} /*帖內-下拉出現懸浮標題*/
.search_main.clearfix.search_main_fixed {display:none !important;} /*貼吧大廳-下拉出現懸浮搜索框*/
/*普通貼吧頭部各種信息（關注按鈕等）——平時隱藏，鼠標觸摸顯示——引用 雲中慕 代碼*/
.user_post_li/*查看發帖腳本*/,.icon_thread_hidden,#j_head_focus_btn,.cancel_focus,.card_num,.card_info,.head_skin_btn,.j_jb_ele/*帖內「舉報」鏈接*/,.opui-barrage-setup/*話題帖-「展開彈幕」按鈕*/,.toggleBtn/*貼吧頭部-指引按鈕*/ {opacity: 0!important;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;-o-transition: opacity .25s ease-in-out;}
.user_post_li:hover/*查看發帖腳本*/,.icon_thread_hidden:hover,.card_top:hover #j_head_focus_btn,.card_top:hover .head_skin_btn,.card_top:hover .cancel_focus,.card_top:hover .card_num,.card_top:hover .card_info,.star_header.clearfix:hover #j_head_focus_btn,.j_jb_ele:hover/*帖內「舉報」鏈接*/,.plat_head.plat_head_theme1:hover #j_head_focus_btn/*游戲吧版頭1*/,.plat_head.plat_head_theme2:hover #j_head_focus_btn/*游戲吧版頭2*/,.opui-barrage-setup:hover/*話題帖-「展開彈幕」按鈕*/,.top_content:hover .toggleBtn/*貼吧頭部-指引按鈕*/ {opacity: 1!important;}
.user-hide-post-down {display:none !important;} /*屏蔽他人3天按鈕*/
#balv_mod {display:none !important;} /*屏蔽【我在貼吧、我在本吧】模塊*/
#threadListGroupCnt {display:none !important;}
DIV[class*="d_post_content"] .ps_cb, DIV[class*="d_post_content"] .comforum-swap-words {pointer-events:none !important;color:#000 !important;} /*帖內文字超鏈接（星夢XMMX、zentu 提供）*/
/*-----------------右側懸浮工具條（右側導航）----------------*/
/*右側漂浮工具條-鼠標觸摸顯示*/
.tbui_afb_compact {margin-right:-35px !important;width:45px !important;opacity: 0.3!important;-moz-transition:0.2s ease all;-moz-transition-delay: 0.2s;}
.tbui_afb_compact:hover {margin-right:-6px !important;width:43px !important;opacity: 0.8!important;-moz-transition:0.1s ease all;-moz-transition-delay: 0.1s;}
.top_cont {height:5px !Important;-moz-transition:0.5s ease all;-moz-transition-delay: 0.5s;} /*貼吧頭部指引模塊-鼠標觸摸顯示*/
.top_cont:Hover {height:150px !Important;-moz-transition:0.4s ease all;-moz-transition-delay: 0.1s;} /*貼吧頭部指引模塊-鼠標觸摸顯示*/
#platform_iframe_head {display:none !important;} /*部分貼吧頭部框架-視頻宣傳介紹之類*/
}